streamlit
PyPDF2
langchain
openai
langchain_openai
langchain_core
faiss-cpu
pytesseract
langchain_community
scikit-learn
PyYAML
streamlit-authenticator
bcrypt
pillow
requests
numpy

# Custom GitHub-hosted packages
git+https://github.com/langchain/langchain-prompts.git#egg=langchain-prompts
git+https://github.com/langchain/langchain-output-parsers.git#egg=langchain-output-parsers
git+https://github.com/langchain/langchain-hub.git#egg=langchain-hub
